@model IEnumerable<string>

<footer class="border-top footer my-background">
    <div class="container">
        @foreach (string menuItem in Model)
            @menuItem
    </div>
</footer>

@*
    Prints Footer text from ViewComponents and adds the Privacy link for a more professional look
*@