.my-header:hover {
    color: red;
}

.my-header {
    font-weight: normal;
    color: black;
}

#createbtn {
    float: right;
    color: yellow;
}

#imageSize {
    max-width: 500px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pad {
    margin: 10px;
}
