@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/colorCh.js" asp-append-version="true"></script>
<div class="text-center">
    <h1 class="my-header">Welcome to Our UAV and Helicopter Database</h1>
    <img class="img-thumbnail" src="~/images/heli.png" />
    <img class="img-thumbnail" src="~/images/uav.png" />
</div>

<div class="form-group my-new-container">
    <a id="createbtn" class="btn-primary btn pad" onclick="colorChY()">Yello</a>
    <a style="color: white;margin-bottom: 1em;" class="btn-primary btn pad" onclick="colorChW()">White</a>
</div>


@*
    Tag Helper
*@
<div style="text-align:center">
    <custom-name name="In this project you will see:"></custom-name>
</div>


<div style="text-align:left">
    <strong>Project Information:</strong>
    <ol>
        <li><strong>Home Page and HomeController:</strong></li>
        <ol>
            <li>Uses CSS to change the title texts colour on hover.</li>
            <li>Home page has One <strong>tag helper</strong> that uses HomeController.</li>
            <li>Uses <strong>colorCh.js</strong> and two buttons to change the background colour of the document to white or yellow.</li>
            <li>Displays two different images</li>
            <li>Session data initiated here and each time it opens it re-initiates the session with the set data.</li>
        </ol>
        <li><strong>CSS:</strong></li>
        <ol>
            <li>Footer and Navbar are modified by the use of <strong>backC.css and textstyles.css</strong>.</li>
        </ol>
        <li><strong>Drone Page and DroneController:</strong></li>
        <ol>
            <li>Displays Drone Models from the seeded database.</li>
            <li>Has <strong>CRUD operations</strong> for Drone Model, Edit, Create, Delete.</li>
            <li>Has <strong>paging</strong>, after adding more than 4 Drone models opens a new page for displaying.</li>
            <li>Clicking a new page will use a <strong>custom-made route</strong>.</li>
            <li>Ability to display detailed drone models.</li>
            <li>Has one image.</li>
            <li>Has <strong>Partial View</strong> that displays the drone database</li>
        </ol>
        <li><strong>Helicopter Page and HelicopterController:</strong></li>
        <ol>
            <li>Displays Helicopter Models from the seeded database.</li>
            <li>Has <strong>CRUD operations</strong> for Helicopter Model, Edit, Create, Delete.</li>
            <li>Has <strong>paging</strong>, after adding more than 4 Helicopter models opens a new page for displaying.</li>
            <li>Clicking a new page will use a <strong>custom-made route</strong>.</li>
            <li>Ability to display detailed Helicopter models.</li>
            <li>Has one image.</li>
        </ol>
        <li><strong>Session:</strong></li>
        <ol>
            <li>The data is inserted in to the session as the project open from the HomeController</li>
            <li>The Session data is initiated each time the Home controller is opened</li>
            <li>To delete the session click on the Clear Session button</li>
        </ol>
        <li><strong>Footer:</strong></li>
        <ol>
            <li>Is an <strong>view component</strong>.</li>
        </ol>
    </ol>
</div>
