@model IEnumerable<Helicopter>
@{
    ViewData["Title"] = "Displaying Session";
}
<h1>@ViewBag.Message </h1>

@if (Model != null)
{
    @foreach (Helicopter pr in Model)
    {
        <p> @pr.Name  @pr.Description</p>
    }
}
else
{
    <p> Session is empty</p>
    <p> <strong>To re-initiate the session click on the Home tab</strong></p>
    <br />
    <p> <strong>After opening the Home page, come to this page again to see the set session is set</strong></p>

}