@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Our UAV and Helicopter Database</h1>
    <img class="img-thumbnail" src="~/images/heli.png" />
    <img class="img-thumbnail" src="~/images/uav.jpg" />



</div>
