@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/colorCh.js" asp-append-version="true"></script>
<div class="text-center">
    <h1 class="my-header">Welcome to Our UAV and Helicopter Database</h1>
    <img class="img-thumbnail" src="~/images/heli.png" />
    <img class="img-thumbnail" src="~/images/uav.png" />
</div>

<div class="form-group my-new-container">
    <a id="createbtn" class="btn-primary btn pad" onclick="colorChY()">Yello</a>
    <a style="color: white;margin-bottom: 1em;" class="btn-primary btn pad" onclick="colorChW()">White</a>
</div>


