@model IEnumerable<string>

<footer class="border-top footer text-muted">
    <div class="container">
        @foreach (string menuItem in Model)
            @menuItem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


@*
    Prints Footer text from ViewComponents and adds the Privacy link for a more professional look
*@