.my-header:hover {
    color: red;
}

.my-header {
    font-weight: normal;
    color: black;
}

#createbtn {
    float: right;
    color: yellow;
    margin-bottom: 1em;
}

#imageSize {
    max-width: 500px;
}

.my-new-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pad {
    margin: 10px;
}
#btn-wow {
    background-color: #f00;
}
